@charset "utf-8";


/* ------------------------------------------------*/
/* Main page css   								   */
/* ------------------------------------------------*/
.mainContent{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 20px;
	
	border-radius: 6px;
	background-color: #F5F5F5;
    box-shadow: 0px 3px 25px rgba(180, 180, 180, 1);
}

.page-header{
 height: 80px;
}

#img{
	float: left;
	width: 70px;
	height: 70px;
}

#nameApp{
	/*float: left;*/
	margin-left: 20px;
	padding-top: 6px;
	width: 400px;
}

.myTooltip{
	padding: 6px 12px;
	margin-top: 26px;
	border-radius: 4px;
	background-color: #FFFDCC;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(119, 122, 107, 0.6);
}

.footer {
	background-color: #1D1D1D;
	color: #FFF;
	border-radius: 6px;
	padding-top: 10px;

	/*position: absolute;
	bottom: 0;
	height: 80px;*/
}

#text {
	font-size: 20px;
}

/* ------------------------------------------------*/
/* Resources page css                              */
/* ------------------------------------------------*/
.difficultyLabel {
	border-radius: 4px;
}

.easyResource {
	background-color: #6FD16F;
}

.mediumResource {
	background-color: #EAD853;
}

.hardResource {
	background-color: #C9302C;
}

.tableOverflow {
	overflow: auto;
}

.fakeLink {
	cursor: pointer;
}

/* ------------------------------------------------*/
/* Upload page    								   */
/* ------------------------------------------------*/
#progressBarContainer { 
	margin-top: 50px;
	
	width: 90%;
	margin-left: 5%; /* used to center align the progress bar*/
}


/* ------------------------------------------------*/
/* From here starts the bootstrap ovverrides css   */
/* ------------------------------------------------*/

body{  
    height: 100%;
}

.navbar-default{
	border-color: #d8d8d8
}

.breadcrumb{
	background-color: #F8F8F8;
	border: 1px solid #d8d8d8 ;
}

.container{
	width: 77%;
}

.navbar-form .form-control{
	width:130px;
}


/* ------------------------------------------------*/
/* css per la pagina del profilo 				   */
/* ------------------------------------------------*/

#votazione{

	font-size: 50px;
	width: 400px;
	float: right;
}
#star{
	float: left;
	width: 310px;
}



/* ------------------------------------------------*/
/* css per la pagina developersPage   			   */
/* ------------------------------------------------*/
.divEsterno{
	float: left;
}
#imgdev{
	width: 124px;
	height: 170px;
	float: left;
	
}
#infoList{
	margin-left: 10px;
	float: left;
}

